html {height: 100%;}

* html body {height: 100%;}

a:link {color:green; text-decoration: none;}  

body
{
    background-color: #ffffff;
    margin: 0px;
    font-family: Trebuchet MS, Calibri, Sans-Serif;    
    min-height: 100%;
    position: relative;

}
.mapfull
{

height:100%;
width:100%;
position:absolute;

}
