# osx noise
.DS_Store
profile
*.swp
*~.nib

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
Snapshots

# svn & cvs
.svn
CVS
/serverside/JUNTI/nbproject/private/
/serverside/JUNTI/build/
/serverside/JUNTI/dist/
NTI/NTI-Info.plist
NTI.xcodeproj/project.xcworkspace/xcuserdata/mike.xcuserdatad/*
NTI.xcodeproj/project.xcworkspace/xcuserdata/mike.xcuserdatad/UserInterfaceState.xcuserstate
NTI.xcodeproj/xcuserdata/mike.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
NTI.xcodeproj/project.xcworkspace/xcuserdata/elenka.xcuserdatad/UserInterfaceState.xcuserstate